@*标记选中文本的模态框*@
<div class="modal" id="labelTextModal" tabindex="-1" role="dialog" aria-labelledby="labelTextModalLabel" oncontextmenu="javascript: window.event.returnValue=false;return false;">
    <div class="modal-dialog verticle-align" role="document">
        <div class="modal-content" id="labelTextArea">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="labelTextModalLabel">{{labelAreaTitle}}</h4>
            </div>
            <div class="modal-body">
                @*对“选择文本”进行打标签时的界面*@
                <div class="tagType_select_div">
                    <label for="tagType">标签类别</label>
                    <select id="tagType_select" class="selectpicker"></select>
                </div>
                <div v-bind:class="tagValueObject">
                    <label for="tagValue">标签内容</label>
                    <select id="tagValue_select" class="selectpicker"></select>
                </div>
                <div class="label-value-input" v-if="labelAreaType === 0">
                    <label for="label-value">标签内容</label>
                    <div id="label-value">
                        <p>{{labelData.labelValue}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="saveTagResult()">保存</button>
            </div>
        </div>
    </div>
</div>
