@*文件编辑框*@
<div class="modal fade" id="editTextModal" tabindex="-1" role="dialog" aria-labelledby="editTextModalLabel" oncontextmenu="javascript: window.event.returnValue=false;return false;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editTextModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row fileEdit">
                    <div class="area fileContentArea">
                        <p>
                            3月11日，在如潮的掌声中，《中华人民共和国宪法修正案》高票表决通过。对于这件党和国家政治生活中的大事，身处世界各地的华侨华人热切关注，热烈拥护。宪法修改，大势所趋，人心所向，这是千千万万中华儿女共同的心声。
                            ■“我们举双手赞成！”
                            “我全力拥护这次修宪！”虽然身在苏黎世，但瑞士《欧亚时报》社长朱爱莲对于正在北京召开的全国两会格外关注。和本报记者谈起几天前刚刚表决通过的《中华人民共和国宪法修正案》，朱爱莲说：“我认为非常重要。这些年，中国取得了举世瞩目的成就，修改宪法符合中国的发展需要，不仅具有重大的现实意义，也具有深远的历史意义，是水到渠成的事情。”
                            在海外，和朱爱莲有相同看法的华侨华人不胜枚举。“我们举双手赞成！”菲律宾红烛华文教育基金会咨询委员张杰向本报表示，宪法作为一个国家的根本大法，需要与时俱进，这次宪法修正案的通过，正是一次非常及时、必要的修改和调整。
                            毛里求斯侨胞丘金莲向本报感慨，用“举世瞩目”来形容世界对于中国这次修宪的关注度，一点也不为过。“一部宪法的完善对于一个国家来说非常重要，它是一个国家逐步走向成熟的标志。这次修宪是中国改革开放以来快速发展的必然结果，符合中国的实际国情。”在丘金莲看来，这次修宪也向海外华侨华人传递出一个积极信号，“中国正朝着正确的方向前进，在世界舞台上又迈出重要的一大步”。
                            “宪法修正案体现了人民的意志。好的宪法能够保证一个国家健康平稳的发展，宪法的修改完善有利于国家的长治久安，是为中华民族伟大复兴提供根本法治保障的重要战略之举。”美国华人企业家联合会会长施乾平对本报说。
                            侨联界别全国政协委员、香港洪氏集团副董事长洪明基深有同感。“今年，无论是政府工作报告，还是宪法修正案草案，都与各界代表委员进行了详细沟通和讨论，体现了中央推动中国全面进步和发展的用心及决心。我全力支持和拥护。”
                            ■“更好地保障中国平稳发展”
                            对于此次修宪，列席全国政协会议的海外侨胞代表、埃及中国和平统一促进会会长陈建南特别关注将习近平新时代中国特色社会主义思想载入宪法这一内容。他认为，这实现了国家指导思想的与时俱进，有利于更好地团结激励全党全国各族人民，共同为实现中华民族伟大复兴的中国梦而奋斗。
                            列席全国政协会议的海外侨胞代表、全非洲华人妇女联合总会会长朱怡苑也认为，将习近平新时代中国特色社会主义思想载入宪法是此次修宪的一大亮点。“去年10月，中共十九大修改党章，将这一思想确立为全党的指导思想。将它写入宪法，有助于团结全国各族人民，凝聚各方力量，实现我们共同的奋斗目标。”
                            “习近平新时代中国特色社会主义思想载入宪法，将会使中国‘五位一体’总体布局加速推进，从而全面促进中国走上经济建设、政治建设、文化建设、社会建设、生态文明建设为一体的现代化协调发展道路，同时也将有利于推动构建人类命运共同体。”列席全国政协会议的海外侨胞代表、马来西亚宗乡青联合总会名誉会长颜天禄说。
                            列席全国政协会议的海外侨胞代表、日本亚洲通讯社社长徐静波认为，中国要实现中共十九大提出的“两个一百年”奋斗目标，需要坚强的领导核心，需要长期稳定的政治体制和领导体制。这是时代的需要，是社会发展的需要，也是海外华侨华人的心声。
                            澳大利亚悉尼澳华文联主席余俊武向本报表示，修改完善国家主席任职任期方面的规定，能够更好地保障中国平稳发展，保障人民过上幸福美好的日子。
                            列席全国政协会议的海外侨胞代表、匈牙利福建华人华侨工商业联合会副会长兼秘书长方建认为，通过设立监察委员会依法实施监督，赋予监察委员会宪法地位，有利于把权力关进制度笼子里，有效惩治腐败。
                            ■“强大中国是侨胞的最强后盾”
                            宪法修改，意义举足轻重，这是众多华侨华人不谋而合的共识。
                            列席全国政协会议的海外侨胞代表、奥地利华人总会会长陈安申认为，改革开放40年，中国的国情在很多方面都发生了翻天覆地的变化。这次修宪从政治上、法理上、组织上、思想上等各方面为中国的持续发展创造新的条件，为中华民族伟大复兴目标的早日实现提供有力保证。
                            列席全国政协会议的海外侨胞代表、全挪中国和平统一促进会共同会长马列认为，宪法修正案的高票通过，对于海外侨胞而言，意味着他们回国创业投资将能获得更为有力的法律保障，这让海外侨胞倍感振奋。
                            “修改宪法，有利于加强中国共产党的领导，可以确保中国继续沿着正确的方向发展，使当前中国的发展理念继续坚持并逐步落实，尤其是改革和反腐工作，可以保持其连贯性。”列席全国政协会议的海外侨胞代表、英国伦敦华埠商会会长林奕权说。
                            列席全国政协会议的海外侨胞代表、中德一带一路贸易促进总会会长宗川海直言，一个强大的中国是海外侨胞的最强后盾。“无论我们身在何处，都能看到祖国没有忘记每一个身在海外的侨胞。修改宪法是民心所向。我们期待在习近平主席的领导下，早日实现伟大的中国梦。”
                            侨鑫集团董事兼执行总裁、广东省侨商会常务副会长周子涛表示，宪法修正案对一系列重大制度作出安排，其中包括统一战线制度、国务院管理制度、地方立法制度等，目的是推进国家治理体系和治理能力现代化，使国家各级施政更加科学、完善，提高科学执政、民主执政、依法执政的水平。这次通过的宪法修正案，将对中国和世界的未来发展带来积极影响，提供重要经验。
                            （本报记者严瑜  叶晓楠  潘旭涛  申孟哲  卢泽华  李婕  参与采写：张诗妤  曾繁强  林光耀）
                            (责编：王明玉（实习生）、申亚欣)
                        </p>
                    </div>

                    <div class="area labelArea">
                        <div class="autoLabel">
                            <div class="autoLabel-title"><h5>文档内容标记</h5></div>
                            <div class="autoLabel-tool">
                                <div class="btn-group btn-group-xs" role="group">
                                    @*<button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        增加
                                    </button>*@
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        删除
                                    </button>
                                </div>
                            </div>
                            <div class="autoLabel-content">
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                            </div>
                        </div>
                        <div class="manualLabel">
                            <div class="manualLabel-title"><h5>文档主题标记</h5></div>
                            <div class="manualLabel-tool">
                                <div class="btn-group btn-group-xs" role="group">
                                    <button type="button" class="btn btn-default" onclick="addSubjectLabel">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        增加
                                    </button>
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        删除
                                    </button>
                                </div>
                            </div>
                            <div class="manualLabel-content">
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                                <div class="labelGroup">
                                    <span class="label-key">标签key</span>
                                    &#58;
                                    <span class="label-value">标签value</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
