/*文本编辑模态框的样式*/

/*文本编辑框整体布局（开始）*/
#editTextModal {
    overflow: auto;
}

@media screen and (min-width: 1200px){
    #editTextModal .modal-dialog{
        width: 900px;
    }
}

.modal .fileEdit {
    width: 100%;
    height: 400px;
}

@media screen and (min-height: 800px) {
    .modal .fileEdit {
        width: 100%;
        height: 600px;
    }
}

.modal .area {
    height: 100%;
    display: inline-block;
    padding-right:5px;
    margin-right: -2px;
    vertical-align: top;
}

.modal .area.fileContentArea {
    width: 60%;
    background-color: lightgray;
}

.modal .area.labelArea {
    width: 40%;
}

div.fileEdit div.fileContentArea {
    border-right: 3px #eee solid;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
}


div.fileEdit div.labelArea {
    /*border-left: 3px #eee solid;*/
    overflow: hidden;
}
/*文本编辑框整体布局（结束）*/

/*文本编辑框右侧打标签布局（开始）*/
div.fileEdit .labelArea .autoLabel{
    width:100%;
    height:60%;
    position: relative;
}

div.fileEdit .labelArea .manualLabel {
    width: 100%;
    height: 40%;
    position: relative;
    border-top: #eee solid 1px;
}

.labelArea .autoLabel .autoLabel-title,
.labelArea .manualLabel .manualLabel-title {
    position: relative;
    left: 50%;
    width: 90px;
    margin-left: -45px;
    z-index: 9999;
}

.autoLabel-title h5,.manualLabel-title h5{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.autoLabel .autoLabel-tool,
.manualLabel .manualLabel-tool{
    height: 22px;
}


.labelArea .autoLabel .autoLabel-content,
.labelArea .manualLabel .manualLabel-content {
    position: absolute;
    width: 100%;
    top: 57px;
    bottom: 0px;
    padding: 0px 5px 5px 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.autoLabel .autoLabel-content .labelGroup,
.manualLabel .manualLabel-content .labelGroup
{
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid transparent;
    overflow: hidden;
}
/*文本编辑框右侧打标签布局（开始）*/
