/*文件夹布局（开始）*/
div.fileList div.file {
    max-height: 130px;
}

.fileList .file {
    display: inline-block;
    vertical-align: top;
    width: 85px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    overflow: hidden;
}

    .fileList .file .ico {
        padding-top: 4px;
        height: 60px;
        width: 60px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }

    .fileList .file .ico {
        padding-left: 5px;
        height: 70px;
        width: 70px;
    }

    .fileList .file .filename {
        cursor: text;
        text-align: center;
        word-break: break-all;
        font-size: 1em;
        margin: 2px auto;
        line-height: 1em;
        padding-bottom: 5px;
    }

    .fileList .file .filename {
        width: 80px;
    }

    .fileList .file .ico .x-item-file {
        margin-top: 4px;
    }

.x-item-file {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('/Images/clouddrive/file_icon/icon_file/file.png');
    width: 100%;
    height: 100%;
    display: inline-block;
    pointer-events: none;
}

.x-folder {
    background-image: url('/Images/clouddrive/file_icon/icon_others/folder.png');
}

.x-txt {
    background-image: url('/Images/clouddrive/file_icon/icon_file/txt.png');
}

.x-pdf {
    background-image: url('/Images/clouddrive/file_icon/icon_file/pdf.png');
}

.x-docx {
    background-image: url('/Images/clouddrive/file_icon/icon_file/docx.png');
}

/*文件夹布局（结束）*/
