/*整体界面框架布局（开始）*/
.row {
    margin-left:0;
    margin-right:0;
}

.row.header {
    height: 70px;
    padding-top: 5px;
    text-align: center;
}

.row .sp {
    height:800px;
    margin-bottom:10px;
    padding: 0;
}

.frame-left {
    border-right: 3px #eee solid;
}

.fileArea {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-left: 15px;
}

.fileArea .treeArea {
    border-top: 3px #eee solid;
    padding-right: 15px;
    overflow: auto;
    height:100%;
}

.frame-right .fileBanner {
    height: 50px;
    padding-right: 15px;
}

.bannerContent {
    height: 100%;
    width: 100%;
    border-top: 3px #eee solid;
    background: #f8f8f8 url("/Images/clouddrive/common/bg.gif") 0px -2px repeat-x;
}

.frame-right .fileContainer {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-right: 15px;
}

.fileList {
    height: 100%;
    width: 100%;
    border-top: 3px #eee solid;
    padding: 10px 0 0 10px;
}

@media screen and (min-width: 1200px) {
    
    .row .sp {
        width: 80%;
    }

    .row .frame-left {
        width: 20%;
    }

}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 99999; display:block;}
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%;}

/*整体界面框架布局（结束）*/
